<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds" debug="false">
    <!--默认在/data/www/java/work/logs目录 -->
    <property name="app.name" value="framework-autotest"/>
    <property name="MY_PATTERN"
              value="%d{yyyy-MM-dd HH:mm:ss.SSS} [TxId : %X{PtxId} , SpanId : %X{PspanId}] [%-5p] [%thread] %-5level %logger{36}:%L - %msg%n"/>
    <!-- contextName主要是为了区分在一个web容器下部署多个应用启用jmx时，不会出现混乱 -->
    <contextName>${app.name}</contextName>
    <!--测试，开发环境需要打印日志 jvm环境变量-Dlogback.env=dev -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoder 默认配置为PatternLayoutEncoder -->
        <encoder>
            <pattern>${MY_PATTERN}</pattern>
        </encoder>
    </appender>
    <!-- 过滤指定类的日志 -->
    <logger name="org.apache.zookeeper.ClientCnxn" level="ERROR"/>
    <logger name="com.alibaba.META_INF.dubbo.remoting.transport.DecodeHandler" level="ERROR"/>
    <logger name="org.springframework.beans.factory.support.DefaultListableBeanFactory" level="ERROR"/>
    <logger name="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor" level="ERROR"/>
    <logger name="ch.qos.logback.classic.LoggerContext" level="OFF"/>
    <logger name="ch.qos.logback.classic.joran.action.ConfigurationAction" level="ERROR"/>
    <logger name="in ch.qos.logback.core.joran.action.AppenderAction" level="ERROR"/>
    <logger name="ch.qos.logback.core.joran.action.NestedComplexPropertyIA" level="ERROR"/>
    <logger name="ch.qos.logback.classic.joran.action.LoggerAction" level="ERROR"/>
    <logger name="ch.qos.logback.core.joran.action.AppenderRefAction" level="ERROR"/>
    <logger name="ch.qos.logback.classic.joran.action.RootLoggerAction" level="ERROR"/>
    <logger name="ch.qos.logback.core.joran.action.AppenderRefAction" level="ERROR"/>
    <logger name="ch.qos.logback.classic.joran.action.ConfigurationAction" level="ERROR"/>
    <root level="ERROR">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>