<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Atomic-Suite" parallel="false" verbose="1">
    <test name="Atomic-Test">
        <method-selectors>
            <method-selector>
                <selector-class name="com.atomic.runtime.RunTestSelector" priority="-1"/>
            </method-selector>
        </method-selectors>
        <packages>
            <package name="com.atomic.autotest.*"/>
        </packages>
    </test>
</suite>
